@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.Edificios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar Edificio</h2>

<h4>Catálogo Edificios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="eva_cat_edificios.Clave" class="control-label"></label>
                <input asp-for="eva_cat_edificios.Clave" class="form-control" />
                <span asp-validation-for="eva_cat_edificios.Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_cat_edificios.Alias" class="control-label"></label>
                <input asp-for="eva_cat_edificios.Alias" class="form-control" />
                <span asp-validation-for="eva_cat_edificios.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_cat_edificios.DesEdificio" class="control-label">Descripción</label>
                <input asp-for="eva_cat_edificios.DesEdificio" class="form-control" />
                <span asp-validation-for="eva_cat_edificios.DesEdificio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_cat_edificios.Prioridad" class="control-label"></label>
                <input asp-for="eva_cat_edificios.Prioridad" class="form-control" />
                <span asp-validation-for="eva_cat_edificios.Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
