@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatTiposGenerales.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar Catálogo</h2>

<h4>Catálogo Tipo Generales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Descripción:<br />
                <input asp-for="cat_tipos_generales.DesTipo" class="form-control" />
                <span asp-validation-for="cat_tipos_generales.DesTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                Activo:<br />
                @Html.DropDownListFor(model => model.cat_tipos_generales.Activo, Model.Activo, "Selecciona")<br />
                <span asp-validation-for="cat_tipos_generales.Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
