@page
@model ProyectoBase.Pages.FicGestionEventos.CatTiposGenerales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Catálogo</h2>

<div>
    <h4>Catálago Tipo Generales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_tipos_generales.DesTipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_tipos_generales.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_tipos_generales.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cat_tipos_generales.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
