@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoEstatus.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar Evento</h2>

<h4>Catálogo Evento Estatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.IdEvento" class="control-label">Id Evento</label>
                <input asp-for="res_evento_estatus.IdEvento" class="form-control" />
                <span asp-validation-for="res_evento_estatus.IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.FechaEstatus" class="control-label">Fecha Estatus</label>
                <input asp-for="res_evento_estatus.FechaEstatus" class="form-control" />
                <span asp-validation-for="res_evento_estatus.FechaEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.IdTipoEstatus" class="control-label">Id Tipo Estatus</label>
                <input asp-for="res_evento_estatus.IdTipoEstatus" class="form-control" />
                <span asp-validation-for="res_evento_estatus.IdTipoEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.IdEstatus" class="control-label">Id Estatus</label>
                <input asp-for="res_evento_estatus.IdEstatus" class="form-control" />
                <span asp-validation-for="res_evento_estatus.IdEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.Actual" class="control-label"></label>
                <input asp-for="res_evento_estatus.Actual" class="form-control" />
                <span asp-validation-for="res_evento_estatus.Actual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.Observacion" class="control-label">Observaciones</label>
                <input asp-for="res_evento_estatus.Observacion" class="form-control" />
                <span asp-validation-for="res_evento_estatus.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_estatus.UsuarioReg" class="control-label">Usuario que registra</label>
                <input asp-for="res_evento_estatus.UsuarioReg" class="form-control" />
                <span asp-validation-for="res_evento_estatus.UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
