@page
@model ProyectoAE.Pages.GestionDeEventos.ResEventoHorario.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Res_eventos_horarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Res_eventos_horarios.IdHorario" class="control-label"></label>
                <input asp-for="Res_eventos_horarios.IdHorario" class="form-control" />
                <span asp-validation-for="Res_eventos_horarios.IdHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Res_eventos_horarios.FechaHoraInicio" class="control-label"></label>
                <input asp-for="Res_eventos_horarios.FechaHoraInicio" class="form-control" />
                <span asp-validation-for="Res_eventos_horarios.FechaHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Res_eventos_horarios.FechaHoraFin" class="control-label"></label>
                <input asp-for="Res_eventos_horarios.FechaHoraFin" class="form-control" />
                <span asp-validation-for="Res_eventos_horarios.FechaHoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Res_eventos_horarios.FechaHoraRegistro" class="control-label"></label>
                <input asp-for="Res_eventos_horarios.FechaHoraRegistro" class="form-control" />
                <span asp-validation-for="Res_eventos_horarios.FechaHoraRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
