@page
@model ProyectoBase.Pages.FicGestionEventos.EventoHorarios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>res_evento_horarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.IdEvento" class="control-label"></label>
                <input asp-for="res_evento_horarios.IdEvento" class="form-control" />
                <span asp-validation-for="res_evento_horarios.IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.IdEdificio" class="control-label"></label>
                <input asp-for="res_evento_horarios.IdEdificio" class="form-control" />
                <span asp-validation-for="res_evento_horarios.IdEdificio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.IdEspacio" class="control-label"></label>
                <input asp-for="res_evento_horarios.IdEspacio" class="form-control" />
                <span asp-validation-for="res_evento_horarios.IdEspacio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.Dia" class="control-label"></label>
                <input asp-for="res_evento_horarios.Dia" class="form-control" />
                <span asp-validation-for="res_evento_horarios.Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.FechaHoraIni" class="control-label"></label>
                <input asp-for="res_evento_horarios.FechaHoraIni" class="form-control" />
                <span asp-validation-for="res_evento_horarios.FechaHoraIni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.FechaHoraFin" class="control-label"></label>
                <input asp-for="res_evento_horarios.FechaHoraFin" class="form-control" />
                <span asp-validation-for="res_evento_horarios.FechaHoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.Disponible" class="control-label"></label>
                <input asp-for="res_evento_horarios.Disponible" class="form-control" />
                <span asp-validation-for="res_evento_horarios.Disponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.FechaReg" class="control-label"></label>
                <input asp-for="res_evento_horarios.FechaReg" class="form-control" />
                <span asp-validation-for="res_evento_horarios.FechaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_horarios.UsuarioReg" class="control-label"></label>
                <input asp-for="res_evento_horarios.UsuarioReg" class="form-control" />
                <span asp-validation-for="res_evento_horarios.UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
