@page
@model ProyectoAE.Pages.GestionDeEventos.Estados.CreateModel

@{
    ViewData["Title"] = "Crear Estado";
}

<h2>Crear nuevo Estado</h2>

<h4>Control de Estados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Estado.EstadoDes" class="control-label">Estado</label>
                <input asp-for="Estado.EstadoDes" class="form-control" />
                <span asp-validation-for="Estado.EstadoDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado.fecha" class="control-label">Fecha</label>
                <input asp-for="Estado.fecha" class="form-control" />
                <span asp-validation-for="Estado.fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado.Observaciones" class="control-label">Observaciones</label>
                <input asp-for="Estado.Observaciones" class="form-control" />
                <span asp-validation-for="Estado.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
