@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoClientes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Evento</h2>

<h3>¿Estas seguro de que deseas eliminar este evento?</h3>
<div>
    <h4>Catálogo Evento Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.IdEvento)
        </dd>
        <dt>
            Id Cliente Reservación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.IdClienteReserva)
        </dd>
        <dt>
            Fecha de Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.FechaRegistro)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="res_evento_clientes.IdReservaCliente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
