@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoClientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Evento</h2>

<div>
    <h4>Catálogo Evento Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.IdEvento)
        </dd>
        <dt>
            Id Cliente Reservación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.IdClienteReserva)
        </dd>
        <dt>
            Fecha de Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_evento_clientes.IdReservaCliente" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
