@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoClientes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Evento [@Html.DisplayFor(model => model.res_evento_clientes.IdReservaCliente)]</h2>

<h4>Catálogo Evento Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="res_evento_clientes.IdEvento" class="control-label">Id Evento</label>
                <input asp-for="res_evento_clientes.IdEvento" class="form-control" />
                <span asp-validation-for="res_evento_clientes.IdEvento" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="res_evento_clientes.IdReservaCliente" />
            <div class="form-group">
                <label asp-for="res_evento_clientes.IdClienteReserva" class="control-label">Id Cliente Reservación</label>
                <input asp-for="res_evento_clientes.IdClienteReserva" class="form-control" />
                <span asp-validation-for="res_evento_clientes.IdClienteReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_clientes.FechaRegistro" class="control-label">Fecha de Registro</label>
                <input asp-for="res_evento_clientes.FechaRegistro" class="form-control" />
                <span asp-validation-for="res_evento_clientes.FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
