@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatProductoServicios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar</h2>

<h4>Catálogo de Productos/Servicios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="cat_productos_servicios.IdTipoGenProdServ" type="hidden" value="18" class="form-control" />
            <input asp-for="cat_productos_servicios.IdGenProdServ" type="hidden" value="4" class="form-control" />
            <div class="form-group">
                <label asp-for="cat_productos_servicios.ClaveProdServ" class="control-label">Clave:</label>
                <input asp-for="cat_productos_servicios.ClaveProdServ" class="form-control" />
                <span asp-validation-for="cat_productos_servicios.ClaveProdServ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_productos_servicios.CodigoBarras" class="control-label">Codigo de Barras:</label>
                <input asp-for="cat_productos_servicios.CodigoBarras" type="number" class="form-control" />
                <span asp-validation-for="cat_productos_servicios.CodigoBarras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_productos_servicios.DesProdServ" class="control-label"></label>
                <textarea asp-for="cat_productos_servicios.DesProdServ" class="form-control" ></textarea>
                <span asp-validation-for="cat_productos_servicios.DesProdServ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_productos_servicios.ProductoServicio" class="control-label">Producto o Servicio:</label>
                @Html.DropDownListFor(model => model.cat_productos_servicios.ProductoServicio, Model.ProductoServicio, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="cat_productos_servicios.ProductoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-info" /> |
                <a asp-page="Index" class="btn btn-warning">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
