@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatProdServEspecifico.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Catálogo</h2>

<h3>¿Estas seguro de que deseas eliminar este catálogo?</h3>
<div>
    <h4>Catálogo de Productos y Servicios Especificos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_prod_serv_especifico.IdProdServEsp)
        </dd>
        <dt>
            Clave
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_prod_serv_especifico.ClaveProdServEsp)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_prod_serv_especifico.DesProdServEsp)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="cat_prod_serv_especifico.IdProdServEsp" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
