@page
@model ProyectoBase.Pages.FicGestionEventos.CatProdServEspecifico.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Catálogo</h2>

<div>
    <h4>Catálogo de Productos y Servicios Especificos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_prod_serv_especifico.IdProdServ)
        </dd>
        <dt>
           Clave
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_prod_serv_especifico.ClaveProdServEsp)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_prod_serv_especifico.DesProdServEsp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cat_prod_serv_especifico.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
