@page
@model ProyectoAE.Pages.GestionDeEventos.Edificios.CreateModel

@{
    ViewData["Title"] = "Agregar Edificio";
}

<h2>Agregar Edificio</h2>

<h4>Catálogo de Edificios y Espacios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Edificio.Nombre" class="control-label"></label>
                <input asp-for="Edificio.Nombre" class="form-control" />
                <span asp-validation-for="Edificio.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.Disponibilidad" class="control-label"></label>
                <input asp-for="Edificio.Capacidad" class="form-control" />
                <span asp-validation-for="Edificio.Disponibilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.Capacidad" class="control-label"></label>
                <input asp-for="Edificio.Capacidad" class="form-control" />
                <span asp-validation-for="Edificio.Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.Direccion" class="control-label"></label>
                <input asp-for="Edificio.Direccion" class="form-control" />
                <span asp-validation-for="Edificio.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.DetalleUbicacion" class="control-label">Detalle de Ubicación</label>
                <input asp-for="Edificio.DetalleUbicacion" class="form-control" />
                <span asp-validation-for="Edificio.DetalleUbicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.CoorX" class="control-label"></label>
                <input asp-for="Edificio.CoorX" class="form-control" />
                <span asp-validation-for="Edificio.CoorX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.CoorY" class="control-label"></label>
                <input asp-for="Edificio.CoorY" class="form-control" />
                <span asp-validation-for="Edificio.CoorY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edificio.Observaciones" class="control-label"></label>
                <textarea rows="10" cols="20" wrap="soft" asp-for="Edificio.Observaciones" class="form-control">Texto que aparece ya escrito de antemano</textarea>
                <span asp-validation-for="Edificio.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-default">Regresar a lista</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
