@page
@model ProyectoBase.Pages.FicGestionEventos.CatalogoGenerales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Catálogo</h2>

<h3>¿Estas seguro de que deseas eliminar este catálogo?</h3>
<div>
    <h4>Catálago Generales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Tipo General
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.IdTipoGeneral)
        </dd>
        <dt>
            Clave
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.Clave)
        </dd>
        <dt>
           Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.DesGeneral)
        </dd>
        <dt>
            Activo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.Activo)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="cat_generales.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
