@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatalogoGenerales.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Catálogo @Html.DisplayFor(model => model.cat_generales.DesGeneral)</h2>

<h4>Catálogo Generales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cat_generales.IdGeneral" />
            <div class="form-group">
                <label class="control-label">Tipo de Evento:</label>
                @Html.DropDownListFor(model => model.cat_generales.IdTipoGeneral, Model.TiposGenerales, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="cat_generales.IdTipoGeneral" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="cat_generales.IdGeneral" />
            <div class="form-group">
                <label class="control-label">Clave:</label>
                <input asp-for="cat_generales.Clave" class="form-control" />
                <span asp-validation-for="cat_generales.Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descrición del General:</label>
                <textarea asp-for="cat_generales.DesGeneral" class="form-control" ></textarea>
                <span asp-validation-for="cat_generales.DesGeneral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Activo:</label>
                @Html.DropDownListFor(model => model.cat_generales.Activo, Model.Activo, "Selecciona", new { @class = "form-control" })<br />
                <span asp-validation-for="cat_generales.Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
