@page
@model ProyectoAE.Pages.GestionDeEventos.Boletos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar Boleto</h2>

<h4>Boletos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Boleto.IdZona" class="control-label">Id de la Zona</label>
                <input asp-for="Boleto.IdZona" class="form-control" />
                <span asp-validation-for="Boleto.IdZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boleto.IdEvento" class="control-label">Id del Evento</label>
                <input asp-for="Boleto.IdEvento" class="form-control" />
                <span asp-validation-for="Boleto.IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boleto.Importe" class="control-label">Importe</label>
                <input asp-for="Boleto.Importe" class="form-control" />
                <span asp-validation-for="Boleto.Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boleto.PrecioIva" class="control-label">IVA</label>
                <input asp-for="Boleto.PrecioIva" class="form-control" />
                <span asp-validation-for="Boleto.PrecioIva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-default">Regresar a Boletos</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
