@page
@model ProyectoAE.Pages.GestionDeEventos.Estados.EditModel

@{
    ViewData["Title"] = "Editar Estado";
}

<h2>Editar: @Html.DisplayFor(model => model.Estado.Id) - @Html.DisplayFor(model => model.Estado.EstadoDes)</h2>

<h4>Control de Estados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estado.Id" />

            <div class="form-group">
                <label asp-for="Estado.EstadoDes" class="control-label">Estado</label>
                <input asp-for="Estado.EstadoDes" class="form-control" />
                <span asp-validation-for="Estado.EstadoDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado.fecha" class="control-label">Fecha</label>
                <input type="date" asp-for="Estado.fecha" class="form-control" />
                <span asp-validation-for="Estado.fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado.Observaciones" class="control-label">Observaciones</label>
                <textarea rows="10" cols="20" wrap="soft" asp-for="Estado.Observaciones" class="form-control"></textarea>
                <span asp-validation-for="Estado.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
