@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatalogoEstatus.EditModel

@{
    ViewData["Title"] = "Editar Estatus";
}

<<<<<<< HEAD
<h2>Editar Estatus [@Html.DisplayFor(model => model.cat_estatus.IdEstatus)]</h2>
=======
<h2>Editar Estatus</h2>
>>>>>>> 8330238ef23d9b7223746b2d84516bb679016cde

<h4>Catálogo Estatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tipo Estatus:</label>
                @Html.DropDownListFor(model => model.cat_estatus.IdTipoEstatus, Model.TipoEstatus, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="cat_estatus.IdTipoEstatus" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="cat_estatus.IdEstatus" />
            <div class="form-group">
                <label class="control-label">Clave:</label>
                <input asp-for="cat_estatus.Clave" class="form-control" />
                <span asp-validation-for="cat_estatus.Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción:</label>
                <textarea asp-for="cat_estatus.DesEstatus" class="form-control" ></textarea>
                <span asp-validation-for="cat_estatus.DesEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Activo:</label>
                @Html.DropDownListFor(model => model.cat_estatus.Activo, Model.Activo, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="cat_estatus.Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
