@page
@model ProyectoBase.Pages.FicGestionEventos.CatProductoServicios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de que deseas eliminar este catálogo?</h3>
<div>
    <h4>Catálago de Productos/Servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Clave:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.ClaveProdServ)
        </dd>
        <dt>
            Código de Barras:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.CodigoBarras)
        </dd>
        <dt>
            Descripción:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.DesProdServ)
        </dd>
        <dt>
            Producto o Servicio:
        </dt>
        <dd>
            @Model.getProductoServicio(Model.cat_productos_servicios.ProductoServicio)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="cat_productos_servicios.IdProdServ" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-warning">Regresar a lista</a>
    </form>
</div>
