@page
@model Pages.Menu.ContactModel
@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>Equipo Sin Nombre</h3>

<address>
    Instituto Tecnologico de Tepic<br />
    Av. Tecnológico de Tepic s/n, Lagos del Country<br />
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:equiposinnombre@ittepic.edu.mx">equiposinnombre@ittepic.edu.mx</a><br />
</address>
