@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatTiposEstatus.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Catálogo</h2>

<h3>¿Estas seguro de que deseas eliminar este catálogo?</h3>
<div>
    <h4>Catálago Tipo Estatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_tipos_estatus.DesTipoEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_tipos_estatus.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_tipos_estatus.Activo)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="cat_tipos_estatus.IdTipoEstatus" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
