@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatTiposEstatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Catálogo</h2>

<div>
    <h4>Catálago Tipo Estatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Descripción:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_tipos_estatus.DesTipoEstatus)
        </dd>
        <dt>
            <label class="control-label">Activo:</label>
        </dt>
        <dd>
            @Model.Activo(Model.cat_tipos_estatus.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cat_tipos_estatus.IdTipoEstatus" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
