@page
@model ProyectoBase.Pages.FicGestionEventos.CatalogoGenerales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de que deseas eliminar este Elemento?</h3>
<div>
    <h4>Catálago de Tipos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Id Tipo General:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.IdTipoGeneral)
        </dd>
        <dt>
            <label class="control-label">Clave:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.Clave)
        </dd>
        <dt>
            <label class="control-label">Descripción:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.DesGeneral)
        </dd>
        <dt>
            <label class="control-label">Activo:</label>
        </dt>
        <dd>
            @Model.Activo(Model.cat_generales.Activo)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="cat_generales.IdGeneral" />
        <input type="submit" value="Eliminar" class="btn btn-info" />
        <a asp-page="./Index" class="btn btn-warning">Regresar a lista</a>
    </form>
</div>
